:root {
    /* COLORS */
    --color-orange-500: #FF6A00;
    --color-orange-900: #472B14;
    --color-green-100: #C3DBCD; /* #C3DBCD33 - input icon separator */
    --color-green-600: #214B53;
    --color-green-800: #1D3C44;
    --color-beige-100: #fffff0;
    --color-beige-200: #F3F3E3; /* journal border */
    --color-beige-700: #756355;
    --color-green-100-alpha: #C3DBCD33;
}

body {
    padding: 2rem;
    margin: auto;
    display: grid;
    background-color: var(--color-green-600);
    font-size: 16px;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

main, aside {
    padding: 2rem;
}

main {
    justify-self: end;
}

h1.title {
    color: var(--color-orange-500);
    text-shadow: 0 2px 0 var(--color-orange-900);
    font-family: 'Noto Serif', 'Playfair Display', Roboto, serif;
    font-weight: 900;
    font-size: 2.5rem;
    margin: 0 0 2rem;
}

label {
    flex: 1 0 0;
    font-family: Roboto, 'Noto Sans', Helvetica, Arial, sans-serif;
    color: var(--color-green-100);
    font-size: 1.375rem;
}

input, select, textarea {
    background-color: var(--color-beige-100);
    font-family: 'Roboto Condensed', Roboto, 'Noto Sans', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    color: var(--color-beige-700);
    border: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 5rem;
    text-align: end;
    padding: 11px;
}

input[type=number]:focus {
    border-radius: 0.5rem;
    outline: 3px solid var(--color-orange-500);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group {
    display: flex;
    max-width: 80ch;
    background-color: var(--color-green-800);
    border-radius: 0.5rem;
    gap: 1rem;
    align-items: center;
}

.input-group-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--color-green-800); */
    border: 0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--color-green-100-alpha);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 1rem;
}

.button-group {
    display: flex;
    max-width: 80ch;
    margin-top: 1rem;
    gap: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0275rem;
    text-transform: uppercase;
    display: flex;
    height: 3rem;
    padding: 0.3125rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

button.primary {
    background-color: var(--color-orange-500);
    box-shadow: 0px 2px 0px 0px var(--color-orange-900);
    color: var(--color-orange-900);
}

button.secondary {
    background-color: transparent;
    border: 2px solid var(--color-green-100);
    color: var(--color-green-100);
}

button.primary:focus {
    outline: 3px solid var(--color-beige-100);
}

button.secondary:focus {
    outline: 3px solid var(--color-orange-500);
}

.dots-wrapper-wrapper {
    padding: 2rem 2rem 2.5rem 2rem;
    background-color: var(--color-beige-100);
    border: 1px solid var(--color-beige-200);
    display: inline-block;
    border-radius: 0.5rem;
}
.dots-wrapper {
    --cell-size: 24px;
    --dotsX: 26;
    --dotsY: 38;
    --dot-size: 3px;
    width: calc((var(--cell-size) * var(--dotsX)) + var(--dot-size));
    height: calc((var(--cell-size) * var(--dotsY)) + var(--dot-size));
    background-size: var(--cell-size);
    background-image: url(./assets/dot-bg.svg);
    background-position: 13px 13px;
}

#result {
    width: 65ch;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: var(--color-green-100);
    line-height: 1.6;
}

#canvas {
    /* width: 624px;
    height: 888px; */
    border: 0;
}


/* Customize the label (the container) */
.check-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    right: 2rem;
    height: 24px;
    width: 24px;
    background-color: var(--color-beige-100);
    border-radius: 6px;
  }
  
  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark,
  .check-container:focus-within input ~ .checkmark {
    /* background-color: var(--color-beige-700); */
    outline: 3px solid var(--color-orange-500);
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-color: var(--color-beige-100);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    left: 5px;
    top: 5px;
    width: 14px;
    height: 14px;
    background-color: var(--color-beige-700);
    border-radius: 3px;
  }